<!DOCTYPE html>
<html lang="en">
	<%- include('partials/head') %>
	<body>
		<div class="wrapper">
			<%- include('partials/modal') %> <%- include('partials/header') %>
			<div class="content">
				<div class="pizza_cards_container row my-5">
					<% pizzaData.forEach(function(pizza){ %>
					<div class="col-xl-3 col-lg-4 col-sm-6">
						<div class="pizza_card p-1">
							<div class="pizza_card_top d-flex justify-content-between">
								<div class="pizza_title ml-1"><%= pizza.title %></div>
								<div class="pizza_hotness d-flex align-items-center mr-1">
									<% for (let i= 0; i< pizza.hotness; i++) {%>

									<img
										src="images/hotness.svg"
										style="object-fit: unset;"
										alt=""
									/>
									<% } %>
								</div>
							</div>
							<!-- <div class="pizza_img text-center"> -->
							<img class="mx-auto mb-1" src="<%= pizza.image %>" alt="pizza" />
							<span class="category"
								><img src="images/<%= pizza.category %>.svg" alt=""
							/></span>
							<span class="new"><img src="images/new.svg" alt="" /></span>
							<!-- </div> -->
							<div
								class="pizza_card_bottom d-flex mt-auto justify-content-between"
							>
								<div class="pizza_price text-center">
									<%= pizza.price %>
								</div>
								<% if (locals.role==='delta' || !locals.role){ %>
								<div
									data-id="<%= pizza._id %>"
									data-title="<%= pizza.title %>"
									data-price="<%= pizza.price %>"
									class="add_to_cart text-center operation_card animate__animated animate__zoomIn animate__faster"
									onclick="addToCart(this)"
								>
									Add to Cart
								</div>
								<div
									id="<%= pizza._id %>"
									data-title="<%= pizza.title %>"
									data-price="<%= pizza.price %>"
									class="add_to_cart row text-center m-0 hide operation_card animate__animated animate__zoomIn animate__faster"
								>
									<div id="decrement" class="col buttons">-</div>
									<div id="<%= pizza._id %>_qty" class="col buttons">0</div>
									<div id="increment" class="col buttons">+</div>
								</div>
								<% } %> <% if (locals.role==='alpha'){ %>
								<div class="add_to_cart text-center row m-0">
									<div class="col p-0">
										<a href="/pizza/<%= pizza._id %>">Edit</a>
									</div>

									<div
										class="col p-0 add_to_cart"
										style="background-color: #e8505b; color: whitesmoke;"
									>
										<a href="/pizza/<%= pizza._id %>/del">Delete</a>
									</div>
								</div>
								<% } %>
							</div>
						</div>
					</div>
					<% }); %>
				</div>
			</div>
			<%- include('partials/footer') %>
		</div>
		<script src="script.js"></script>
	</body>
</html>
