<!DOCTYPE html>
<html lang="en">
	<%- include('partials/head') %>
	<body>
		<div class="wrapper">
			<%- include('partials/modal') %> <%- include('partials/header') %>
			<div class="content">
				<div class="pizza_cards_container row my-5">
					<div>
						<h1>Profile Page</h1>
						<h4>Profile Image</h4>
						<h4>Name</h4>
						<h4>Email</h4>
						<h4>Member Since</h4>
					</div>
				</div>
				<!-- <% pizzaData.forEach(function(pizza){ %>
				<h1><%= pizza.title %></h1>
				<% }); %> -->
			</div>
			<%- include('partials/footer') %>
		</div>
		<script src="script.js"></script>
	</body>
</html>
