<!DOCTYPE html>
<html lang="en">
	<%- include('partials/head') %>
	<body>
		<div class="wrapper">
			<%- include('partials/modal') %> <%- include('partials/header') %>

			<div class="content">
				<div class="pizza_cards_container row my-5">
					<form
						id="create_pizza_form"
						class="w-75 mx-auto"
						action="/resetpassword/<%= token %> "
						method="POST"
					>
						<div>
							<h1>Enter New Password</h1>
						</div>

						<div class="row">
							<div class="col-12 col-xl-6">
								<div class="form-group pb-1">
									<div class="row">
										<label for="" class="col-12 col-sm-6">New Password</label>
										<input
											class="form-control input-sm col-12 col-sm-6"
											name="password"
											type="password"
										/>
									</div>
								</div>
							</div>
							<div class="col-12 col-xl-6">
								<div class="form-group pb-1">
									<div class="row">
										<label for="" class="col-12 col-sm-6"
											>Confirm Password</label
										>
										<input
											class="form-control input-sm col-12 col-sm-6"
											name="confirm"
											type="password"
										/>
									</div>
								</div>
							</div>
						</div>

						<div class="row justify-content-between m-0">
							<button type="submit" class="py-1 col-lg-6 col-12 button">
								Submit
							</button>
						</div>
					</form>
				</div>
			</div>
			<%- include('partials/footer') %>
		</div>
		<script src="script.js"></script>
	</body>
</html>
